.main-part {
  width: 100%;
  min-height: 603px;
  max-height: 700px;
  text-align: center;
  display: flex;
  flex-direction: column;
  animation-name: opacityChange;
  animation-duration: 4s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
}

.login-button:hover {
  font-weight: 400;
  background-color: #447db7;
}

.slider-buttons-container {
  text-align: center;
  margin-top: auto;
  margin-bottom: 30px;
}

.slider-buttons-item {
  width: 15px;
  height: 15px;
  border: 2px solid #fff;
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

@-webkit-keyframes opacityChange {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 1;
  }
}

.main-part-imgSourceOne {
  background: 'linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../../../images/home-bg.jpg")';
}
