.main-header {
  background-color: #1164b8;
  height: 14vh;
  max-height: 100px;
  width: inherit;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

.logo-container {
  font-size: 2.8rem;
  text-transform: uppercase;
  font-weight: 600;
}

.project-description {
  font-size: 2.4rem;
  font-weight: 400;
}
